table {
    width: 96%;
    border: 1px solid black;
    margin: 2%;
    text-align: center;
    /* margin-right: 2%; */
}

th,td{
    padding: 0.5rem;
    cursor: pointer;
}

.is-active{
    visibility: visible;
}
.is-not-active{
    visibility: hidden;
}

.header-cell:hover .is-not-active{
    visibility: visible;
    opacity: 0.2;
}
