table {
    width: 96%;
    margin: 2%;
    padding: 2%;
    border-collapse: collapse;
    /* text-align: center; */
    /* margin-right: 2%; */
}


th,td{
    padding: 0.5rem;
    text-align: left;
    border: none;
}
tr{
    border-bottom: 1px solid rgb(152, 145, 145);
}

.is-active{
    visibility: visible;
}
.is-not-active{
    visibility: hidden;
}


.header-cell:hover{
    cursor: pointer;

}
.header-cell:hover .is-not-active,
.header-cell:hover ~ span .is-not-active 
{
    visibility: visible;
    opacity: 0.2;
}
